/* =========================
	Custom media queries
========================= */

@custom-media --layout-xs (min-width: 30em); /* 480px */
@custom-media --layout-sm (min-width: 48em); /* 768px */
@custom-media --layout-lg (min-width: 80em); /* 1280px */
