:root {
	/* ====================== */
	/* Fonts */
	/* ====================== */
	--main-font: 'robotoregular';
	--main-font-light: 'robotolight';
	--title-font: 'montserratregular';

	/* ====================== */
	/* Colors */
	/* ====================== */
	--white: #FFF;
	--light-gray: #EAEAEA;
	--light-gray-2: #E0E0E0;
	--light-gray-3: #CCC;
	--light-gray-4: #BFBFBF;
	--gray: #AAA;
	--dark-gray: #555;
	--red: #EB4A42;
}