@import 'shared/styles/variables.css';
@import 'shared/styles/custom-medias.css';

.PreviousList {
	margin-top: 80px;
}

.title {
	margin-right: 25px;
	margin-bottom: 40px;
	display: inline-block;
	font-family: var(--main-font-light);
	font-size: 2.2rem;
}

.clearHistoryButton,
.clickToCopyButton {
	background: none;
	border: none;
	color: var(--red);
	font-family: var(--main-font-light);
	cursor: pointer;
}

.table {
	position: relative;
	width: 100%;
	table-layout: fixed;
}

.tableRow {
	position: relative;

	&:hover .clickToCopyButton {
		opacity: 1;
	}

	& > th {
		padding-bottom: 20px;
	}
}

.tableHeader {
	color: var(--gray);
	font-size: 1.4rem;
	text-align: left;
	text-transform: uppercase;
}

.tableHead {
	&:nth-child(1) {
		width: 40%;

		@media (--layout-xs) {
			width: 60%;
		}

		@media (--layout-sm) {
			width: 500px;
		}

		@media (--layout-lg) {
			width: 600px;
		}
	}

	&:nth-child(2) {
		width: 60px;

		@media (--layout-xs) {
			width: initial;
		}
	}

	&:nth-child(2),
	&:nth-child(3) {
		text-align: center;
	}
}

.tableCell {
	padding: 20px 0;

	&:nth-child(2),
	&:nth-child(3) {
		text-align: center;
	}

	&_highlight::before {
		content: '';
		position: absolute;
		top: 40px;
		left: -20px;
		/* 84px = Height of each table row */
		height: 84px;
		width: 4px;
		background-color: var(--red);
	}
}

.clickToCopyButton {
	margin-left: 25px;
	opacity: 0;
	color: var(--red);
	font-family: var(--main-font-light);
}

.shortenedLink {
	&_newUrl {
		color: var(--red);
	}

	&_oldUrl {
		white-space: nowrap;
		overflow: hidden;
		color: var(--light-gray-3);
		font-family: var(--main-font-light);
		text-overflow: ellipsis;
	}
}

/*
This class serves to hide its contents as it's only
meant to be read by the screen reader
*/
.ariaMessage {
	position: absolute;
	visibility: none;
	opacity: 0;
	height: 0;
}
