@import 'shared/styles/variables.css';

.LinkShortenerInput {
	display: flex;
	justify: space-between;
}

.input {
	flex: 3;
	margin-right: 15px;
	padding: 15px 18px;
	background-color: var(--light-gray);
	border: none;
	border-radius: 3px;
	font-family: var(--main-font-light);
}

.button {
	flex: 1;
	padding: 15px 18px;
	background-color: var(--red);
	border: none;
	border-radius: 3px;
	color: var(--white);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: color(var(--red) l(40%));
	}

	&:disabled {
		background-color: var(--light-gray-2);
		color: var(--light-gray-4);
	}
}
