@import './shared/styles/reset.css';
@import './shared/styles/variables.css';
@import './shared/styles/custom-medias.css';
@import './shared/styles/fonts.css';

html {
	/* This allows to use decimal rem units as pixels (i.e 1.6rem = 16px) */
	font-size: 62.5%;
	width: 100%;
}

.App {
	margin: 100px auto 190px;
	padding: 0 20px;
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: 1.6rem;
	color: var(--dark-gray);

	@media (--layout-lg) {
		padding: 0;
		max-width: 800px;
	}
}

.header {
	margin-bottom: 55px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.title {
	position: relative;
	color: var(--red);
	font-family: var(--title-font);
	font-size: 4.7rem;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--red);
	}
}

.subtitle {
	position: relative;
	top: -10px;
	color: var(--gray);
	font-family: var(--main-font-light);
}
